<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <div class="container-fluid">
        <%- include('partials/header') %>
        <div class="row no-gutters">
            <div class="col-auto">
                <%- include('partials/menu') %>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-6">
                        <section class="main-body">
                        <h2>Create Banner Slider</h2>
                        <form action="/create-banner" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Select Category</label>
                                <select class="form-control" name="Category_Name" id="selectCat">
                                    <option value="">Select</option>
                                    <% category.forEach(function(item) { %>
                                    <option value="<%= item.Category_Name %>" data-id="<%= item.Category_ID %>"><%= item.Category_Name %>
                                    </option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="form-group" style="display: none;">
                                <label for="exampleFormControlInput1">Category Id</label>
                                <input type="text" class="form-control" name="Category_ID" value="" id="catId">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Title</label>
                                <input type="text" class="form-control" name="Title">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Description</label>
                                <textarea class="form-control" name="Description" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">File Upload</label>
                                <input type="file" class="form-control-file" name="uploadImage">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Paste youtube link</label>
                                <input type="text" class="form-control" name="Youtube">
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <%- include('partials/footer') %>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
        <script>
                $("#selectCat").change(function () {
                    console.log($(this).val())
                    var selected = $(this).find(':selected').attr('data-id');
                    console.log(selected)
                    $('#catId').val(selected)
                });
        </script>
</body>

</html>